
body {
  margin: 0;
}
div{
  background-color:#71C9CE;
  height:200px;
}
.middle{
  background-color:red;
  height:200px;
}
.bottom{
  background-color:blue;
  height:200px;
}
hr {
  width: 30%;
  border-style: dashed;
  border-color: #99A799;
  border-width: 1px;
}

h1 {
  margin-top: 0;
  color: #064635;
}
h4 {
  color: #064635;
}

div{
  color: #548CFF;
}
