
body {
  background-color: #D3E4CD;
}

hr {
  width: 30%;
  border-style: dashed;
  border-color: #99A799;
  border-width: 1px;
}

h1 {
  color: #064635;
}
h3 {
  color: #064635;
}

div{
  color: #548CFF;
}
